server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/inventory_db
    username: postgres
    password: yourpassword
    hikari:
      pool-name: InventoryManagementHikariPool
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  application:
    name: inventory-service

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.agnesmaria.inventory: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE

swagger:
  app-name: Inventory Management System
  app-description: "Microservice for managing inventory and warehouse stock levels"
  app-version: 2.0.0
  app-license: MIT
  app-license-url: https://opensource.org/licenses/MIT
  contact-name: Agnes Maria
  contact-url: https://github.com/MidnightMaria
  contact-mail: agnesmarmarie@gmail.com
app:
  seed-data: false
